nav{
    background: pink;
    color:white;
    position: fixed;
    width: 100%;
   
}
img.splashscreen{
    padding-left: 10px;
}

a.menuone{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: "Nanum Gothic Coding", monospace;
    font-style: normal;
    font-weight: 400;
    padding: 30px;
    float: right;  
}

a.menutwo{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: "Nanum Gothic Coding", monospace;
    font-style: normal;
    font-weight: 400;
    padding: 30px;
     
}

a.menuone:hover{
    color: hotpink;
    font-weight: 500;
}

a.menutwo:hover{
    color: hotpink;
    font-weight: 500;
}

body{
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    background: #fffafd;
}

div#profile{
    display: inline-block;
    width: 30%;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
h1{
    color: #a60c68;
    font-size: 45px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
div#bio{
    display: inline-block;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
div#skills{
    background: pink;
    padding: 30px;
}

img.game{
    padding: 15px;
    
}

img.art{
    padding: 30px;
}


h2{
    color: #a60c68;
    padding: 15px;
    font-size: 34px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

h3{
    display:inline-block;
    color: white;
    font-size: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 40px;
}
div#portfolio{
    background: #fffafd;
    padding: 30px;
}

div#games{
    background: #fffafd;
    padding: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

h4{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}

div#socials{
    background: pink;
    padding: 30px;
    margin: 0;
}

